@tailwind base;
@tailwind components;
@tailwind utilities;

/* 横スクロールの際のバー非常時。全体で共有できそうなため、global.cssに記載 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
